$border: 1px solid white;
$text-color: var(--text-color);
$text-secondary: var(--text-secondary);
$text-tetriary: var(--text-tetriary);
$text-quaternary: var(--text-quaternary);
$text-quinary: var(--text-quinary);
$text-senary: var(--text-senary);
$text-night: var(--text-night);
$search-color: var(--search-color);
$hint-color: var(--hint-color);
$accent-color: var(--accent-color);
$accent-hover: var(--accent-hover);
$bg-color: var(--bg-primary);
$bg-secondary: var(--bg-secondary);
$bg-tetriary: var(--bg-tetriary);
$bg-other: var(--bg-other);
$light: #fff;
$icon-filter: var(--icon-filter);
$icon-active: var(--icon-filter-active);
$special: var(--accent-color);
$special-hover: var(--special-hover);
$comet: #5e5e82;
$comet-opaque: #5e5e8220;
$hover-color: #2572bf;
$active-color: #155ee1;
$border-color: var(--border-color);
$border-hover: var(--border-hover);
$disabled-color: #f0f0f0;
$warning-color: #eb5233;
$warning-hover: #e25757;
$event-color: var(--event-color);
$success: #2ca514;
$table-header: #f4f4f4;
$shadow-main: var(--shadow-primary);
$shadow-card: 0 3px 4px -1px rgba(0, 0, 0, 0.15);
$overlay: rgba(0, 0, 0, 0.25);
$calendar-active: var(--calendar-active);
$border-gray: var(--border-gray);
$primary-color: var(--primary-color);
$color-red: var(--color-red);
$secondary-color: var(--secondary-color);
$tetriary-color: var(--tetriary-color);

$placeholder: var(--placeholder);

$main-dimension: 40px;
$inputw: 270px;
$trns: 0.2s;

$main-font: var(--main-font);
$title-font: var(--secondary-font);

$title-font-size: 28px;
$main-font-size: 14px;

$xs: 400px;
$md: 600px;
$lg: 960px;
$xl: 1280px;
