@import "assets/scss/variables";

.Table {
  width: 100%;
  border-collapse: collapse;
  &Row {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid $border-gray;
  }
  &Cell {
    padding: 10px 8px;
    font-size: 14px;
    font-family: var(--secondary-font);
    line-height: 20px;
    color: $text-color;

    &Small {
      flex-basis: 110px;
      max-width: 110px;
    }

    &Big {
      flex-basis: calc((100% - 110px) / 2);
      max-width: calc((100% - 110px) / 2);
    }

    &Head {
      .TableCell {
        color: $text-tetriary;
      }
    }

    &Body {
      .TableRow {
        &:hover {
          background-color: var(--bg-secondary);
        }
      }
    }

    &Date {
      &Time {
        font-size: 12px;
        line-height: 16px;
        color: $text-quinary;
      }
    }

    &Name {
      font-weight: 600;
      color: $text-senary;
      &Search {
        color: $accent-color;
        &Active {
          background: $search-color;
        }
      }
    }

    &Owner {
      font-size: 12px;
      line-height: 16px;
      color: $text-quinary;
    }

    &Participants {
      display: flex;
      gap: 8px;
      &Item {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      &Vertical {
        flex-direction: column;
      }
    }
  }
}

.ResultsTable {
  max-height: calc(100vh - 250px);
}
